
td #{model.title}
if model.artist != 'undefined'
    td #{model.artist}
else
    td #{model.album.artist}
if model.album != 'undefined'
    td #{model.album.name}
else
    td
td #{model.plays}
td #{model.time}

