div.panel.panel-default
    div.panel-heading TRACK - data specific to the track
    div.panel-body
        div.form-group
            label(for='Edit-title') Title
            input#edit-title.form-control(type='text' value="#{data.track['title']}")
            label(for='Edit-artist') Artist
            input#edit-artist.form-control(type='text' value="#{data.track['artist']}")
            label(for='Edit-year') Year
            input#edit-year.form-control(type='text' value="#{data.track['year']}")
            label(for='Edit-genre') Genre
            input#edit-genre.form-control(type='text' value="#{data.track['genre']}")
        button#edit-cancel.btn.btn-default Cancel
        button#edit-submit.btn.btn-default Change
div.panel.panel-default
    div.panel-heading ALBUM = data specific to all album track
    div.panel-body
        each album, index in data.album
            div.panel.panel-default
                div.panel-heading #{album.name}
                div.panel-body
                    div.form-group
                        label(for='Edit-title') Name
                        input#edit-title.form-control(type='text' value="#{album.name}")
                        label(for='Edit-artist') Artist
                        input#edit-artist.form-control(type='text' value="#{album.artist}")
                        label(for='Edit-year') Year
                        input#edit-year.form-control(type='text' value="#{album.year}")
                        label(for='Edit-genre') Genre
                        input#edit-genre.form-control(type='text' value="#{album.genre}")
        button#edit-cancel.btn.btn-default Cancel
        button#edit-submit.btn.btn-default Change
