div.form-group
    label(for='Edit-title') Title
    input#edit-title.form-control(type='text' value="#{attr['title']}")
    label(for='Edit-artist') Artist
    input#edit-artist.form-control(type='text' value="#{attr['artist']}")
    label(for='Edit-album') Album
    input#edit-album.form-control(type='text' value="#{attr['album']}")
    label(for='Edit-year') Year
    input#edit-year.form-control(type='text' value="#{attr['year']}")
    label(for='Edit-genre') Genre
    input#edit-genre.form-control(type='text' value="#{attr['genre']}")
button#edit-cancel.btn.btn-default Cancel
button#edit-submit.btn.btn-default Change
