- var trackAttributes = ['title', 'artist', 'year', 'genre', 'trackNb']
- var albumAttributes = ['name', 'artist', 'year', 'genre']

div.panel.panel-default
    div.panel-heading TRACK - data specific to the track
    div.panel-body
        div.form-group
            each attribute in trackAttributes
                if track[attribute]
                    label(for='edit-track-#{attribute}') #{attribute}
                    input(id='edit-track-#{attribute}' class='form-control track-edition #{attribute}' type='text' value="#{track[attribute]}")
            label(for='plays') Plays
            p(id='plays') #{track['plays']}
div.panel.panel-default
    div.panel-heading #{album.name}
    div.panel-body
        div.form-group
            each attribute in albumAttributes
                if album[attribute]
                    label(for='Edit-album-#{attribute}') #{attribute}
                    input(id='edit-album-#{attribute}' class='form-control album-edition #{attribute}' type='text' value="#{album[attribute]}")
button#edit-cancel.btn.btn-default Cancel
button#edit-submit.btn.btn-default Change
