div#tracks-menu-button.nav.nav-tabs
    input#tracks-menu-upload.btn.btn-default.btn-file(
        name='upload-files'
        type='file'
        multiple='multiple'
        accept='audio/*'
        role='presentation'
        )
    button#tracks-menu-fetch.btn.btn-default(role='presentation') FETCH
    div#tracks-menu-playlist.btn-group
    button#tracks-menu-remove.btn.btn-default(role='presentation') REMOVE
    button#tracks-menu-queue.btn.btn-default(role='presentation') Add to Queue
    button#tracks-menu-edit.btn.btn-default(role='presentation') EDIT
